.App{
  background-color: black;
  margin: 0 auto;
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  padding: 40px;
  padding-top: 20px;
  /* border-radius: 20px; */
}

.btn{
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
}

.input{
  padding: 10px;
  border: none;
}


